<ion-view title="Snap Pic">
  <ion-content class="has-header">
    <button class="snap-button" ng-click="takePic()">
      Take Picture
    </button>
    <img id="smallImage" />
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="name" ng-model="photo.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="location" ng-model="photo.location">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="caption" ng-model="photo.caption">
      </label>
    </div>

    Data: {{data}}
    Status: {{status}}
    <button class="snap-button" ng-click="submitPhoto(photo)">
      Submit Photo
    </button>
  </ion-content>
</ion-view>
